@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700');
:root {
	--main-pop-color: blue;
	--main-body-color: hsla(0, 0%, 20%, 1);
	--main-shady-color: hsla(0, 0%, 60%, 1);
	--night-pop-color: blue;
	--night-body-color: hsla(0, 0%, 100%, 1);
	--night-shady-color: hsla(0, 0%, 40%, 1);
	--sans-serif: 'Work Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, trebuchet-ms, freesans, sans-serif;
	--serif: Georgia, Cambria, "Times New Roman", Times;
	--monospace: Menlo, Monaco, "Courier New", Courier, monospace
}

::selection {
	color: var(--main-pop-color);
	text-shadow: none;
	background-color: white
}

html {
	font-family: sans-serif;
}

body {
	font-family: var(--sans-serif);
	color: var(--main-body-color);
	font-size: 21px;
	line-height: 1.6;
	background-color: hsla(0, 0%, 94%, 1);
	background-image: url(assets/img/jpg/back.jpg);
	margin: 0;
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	transition: 0.5s;
}

body:hover {
	cursor: default
}

.didBody {
	background-image: none;
}

.didBody.ih {
	background-color: #1C1C1A;
}

.didBody.beneficial {
	background-color: #F8F0E4;
}


/* ~~~~~ Typography ~~~~~ */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--sans-serif);
	margin: 0 0 20px 0;
	animation: pop-upwards 180ms forwards linear
}

h1 {
	font-size: 62px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: -2px;
	margin-left: -3.6px
}

h2 {
	font-size: 42px;
	font-weight: 700;
	line-height: 1.25;
	letter-spacing: -1.5px;
	margin-left: -3px
}

h3 {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.3;
	letter-spacing: -1px;
	margin-left: -3.5px
}

h4 {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.35;
	letter-spacing: -1px;
	margin-left: -2.9px
}

h5 {
	font-size: 24px;
	font-weight: 500;
	line-height: 15px;
	letter-spacing: 2px;
	margin-left: -2.3px;
	text-transform: uppercase
}

h6 {
	font-size: 15px;
	font-weight: 700;
	line-height: 1.6;
	letter-spacing: 0;
	margin: 0 0 0 -0.9px;
	text-transform: uppercase
}

h6::after {
	display: block;
	margin-top: 2px;
	margin-left: 1.1px;
	z-index: -1;
	width: 30px;
	height: 2.5px;
	background: var(--main-body-color);
	content: ''
}

h2.main {
	margin: 0;
}

h2.title {
	font-size: 80px;
	line-height: 11px;
	letter-spacing: -3px;
	margin-bottom: 0px
}

h4.subtitle {
	color: var(--main-shady-color);
	font-weight: 400;
	margin-bottom: 30px
}

h6.abovetitle {
	margin: 0 0 9px 0
}

p,
li {
	font-size: 21px;
	font-weight: 400;
	font-family: var(--serif);
	line-height: 1.6;
	margin: 6px 0 20px 0
}

p a {
	color: var(--main-pop-color);
	background-image: linear-gradient(rgba(0, 0, 0, 0.6) 50%, transparent 50%);
	background-repeat: repeat-x;
	background-size: 2px 1px;
	background-position: 0 10.7px
}

a,
a:link,
a:active,
a:visited {
	outline: none;
	border: 0;
	text-decoration: none;
	transition: .2s;
}

i,
cite,
em,
var,
address,
dfn {
	font-style: italic;
	font-feature-settings: "liga" on, "salt" on;
	-moz-font-feature-settings: "liga" on, "salt" on;
	-webkit-font-feature-settings: "liga" on, "salt" on
}

blockquote {
	font-size: 21px;
	font-weight: 400;
	font-family: var(--serif);
	font-style: italic;
	line-height: 1.6;
	letter-spacing: -.03px;
	word-break: break-word;
	word-wrap: break-word;
	border-left: 2px solid var(--main-body-color);
	padding-left: 13px;
	margin-left: -15px;
	padding-bottom: 2px
}

figcaption {
	color: var(--main-shady-color);
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
	letter-spacing: 0
}

b,
strong {
	font-weight: 700
}

code {
	font-family: var(--monospace);
	padding: 2px 5px;
	margin: 0 2px;
	font-size: 90%;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 4px
}

pre>code {
	display: block;
	padding: 10px 15px;
	white-space: pre
}

hr {
	margin-top: 30px;
	margin-bottom: 35px;
	border-width: 0;
	border-top: 1px solid var(--main-shady-color)
}

button,
.button {
	margin-bottom: 10px
}

input,
textarea,
select,
fieldset {
	margin-bottom: 15px
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form,
.markup {
	margin-bottom: 25px
}

ol>li:before {
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
	width: 68px;
	margin-left: -68px;
	text-align: right;
	font-feature-settings: "liga" on, "lnum" on;
	-moz-font-feature-settings: "liga" on, "lnum" on;
	-webkit-font-feature-settings: "liga" on, "lnum" on;
	padding-right: 12px;
	counter-increment: post;
	content: counter(post) "."
}

ul,
ol {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-padding-start: 0px;
	list-style-type: none;
	counter-reset: post;
}

.markup {
	font-family: var(--monospace);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6
}

img {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	image-rendering: optimizeQuality;
	line-height: 0;
	transition: opacity .7s ease-in, margin-top .7s ease-out
}


/* ~~~~~ Frame ~~~~~*/

.frame {
	background-color: white;
	position: fixed;
	z-index: 99
}

.frame.top {
	width: 100vw;
	height: 15px;
	top: 0px
}

.frame.right {
	width: 15px;
	height: 100vh;
	right: 0px;
	display: block;
}

.frame.bottom {
	width: 100vw;
	height: 15px;
	bottom: 0px
}

.frame.left {
	width: 15px;
	height: 100vh;
	left: 0px
}


/* ~~~~~ Logo ~~~~~*/

.logo {
	position: fixed;
	z-index: 9999;
	left: 45px;
	top: 45px
}

.logo img {
	position: absolute;
	width: 90px;
	left: 0px;
	top: 0px
}

#b {
	z-index: 2;
	mix-blend-mode: multiply;
	animation: fade-in 5s ease-in
}

#g {
	z-index: 3;
	mix-blend-mode: multiply;
	animation: fade-in 5s ease-in
}

#r {
	z-index: 1;
	mix-blend-mode: multiply;
	animation: fade-in 5s ease-in
}

.didBody #b,
.didBody #g,
.didBody #r {
	mix-blend-mode: screen;
}

#efeck {
	z-index: 5;
	animation: fade-in 2s ease-in
}


/* ~~~~~ Navigation ~~~~~*/

#drift-widget {
	bottom: 20px !important;
	right: 5px !important;
}

nav {
	padding: 35px 45px;
	position: fixed;
	right: 0;
	top: 0;
}

nav li {
	margin-bottom: 6px;
}

nav .intMenu a {
	color: var(--main-body-color);
	font-family: var(--sans-serif);
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 24px;
	text-transform: uppercase;
	transition: color .2s !important;
}

nav .intMenu a.deactive:hover {
	color: blue;
	cursor: pointer;
	transition: color .2s !important;
}

nav .intMenu a.active:before {
	margin-left: -22.5px;
	margin-right: 20px;
	margin-top: 16px;
	width: 3px;
	height: calc(100vh - 62px);
	background-color: blue;
	content: '';
	display: inline-block;
	position: absolute;
	transition: 0.5s ease-in-out;
	transition-delay: 0.2s;
}

nav .intMenu a.active:after {
	margin-left: 25px;
	left: 0;
	margin-top: 16px;
	width: 15px;
	height: 3px;
	background-color: blue;
	content: '';
	display: inline;
	position: absolute;
	transition: 0.2s ease-in-out;
}

nav .intMenu a.active {
	color: var(--main-pop-color);
	transition: 0.5s;
}

nav .intMenu a.deactive:before {
	margin-left: -22.5px;
	margin-right: 20px;
	margin-top: 16px;
	width: 3px;
	height: 0px;
	background-color: blue;
	content: '';
	display: inline-block;
	position: absolute;
	transition: 0.2s ease-in-out;
}

nav .intMenu a.deactive:after {
	margin-left: 40px;
	left: 0;
	margin-top: 16px;
	width: 0px;
	height: 3px;
	background-color: blue;
	content: '';
	display: inline;
	position: absolute;
	transition: 0.1s ease-in-out;
	transition-delay: 0.2s;
}

nav .intMenu a.deactive {
	color: var(--main-body-color);
	transition: 0.5s;
}

.didBody.ih nav .intMenu a.deactive {
	color: var(--night-body-color);
	transition: 0.5s;
}

nav .intMenu li {
	text-align: right;
}

nav .intMenu li:nth-child(1) a {
	transition-property: transform, opacity;
	-webkit-transition-delay: .1s;
	transition-delay: .1s
}

nav .intMenu li:nth-child(2) a {
	transition-property: transform, opacity;
	-webkit-transition-delay: .15s;
	transition-delay: .15s
}

nav .intMenu li:nth-child(3) a {
	transition-property: transform, opacity;
	-webkit-transition-delay: .20s;
	transition-delay: .20s
}

nav .intMenu li:nth-child(4) a {
	transition-property: transform, opacity;
	-webkit-transition-delay: .25s;
	transition-delay: .25s
}

nav .intMenu li:nth-child(5) a {
	transition-property: transform, opacity;
	-webkit-transition-delay: .1s;
	transition-delay: .1s
}

#didMenu,
#contactMenu,
#shootMenu,
#writtenMenu {
	display: none;
}

#atMenu {
	display: inline-block;
}

.extMenu {
	display: none
}

nav .extMenu a {
	color: var(--main-shady-color);
	font-family: var(--sans-serif);
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
}

a#behance,
a#behance:hover,
a#dribbble,
a#dribbble:hover,
a#instagram,
a#instagram:hover,
a#unsplash,
a#unsplash:hover,
a#twitter,
a#twitter:hover,
a#medium,
a#medium:hover,
a#email,
a#email:hover {
	transition-property: color;
	transition: .2s ease-out;
	transition-delay: 0s;
}

#medium {
	display: none;
}

nav .extMenu a:hover {
	transition-property: color;
	transition: .5s ease-out;
	transition-delay: 0s;
	cursor: pointer
}

.extMenu li:nth-child(1) a {
	transition-property: transform, opacity;
	-webkit-transition-delay: .30s;
	transition-delay: .30s
}

.extMenu li:nth-child(2) a {
	transition-property: transform, opacity;
	-webkit-transition-delay: .35s;
	transition-delay: .35s
}

.extMenu li:nth-child(3) a {
	transition-property: transform, opacity;
	-webkit-transition-delay: .40s;
	transition-delay: .40s
}

.extMenu li:nth-child(4) a {
	transition-property: transform, opacity;
	-webkit-transition-delay: .45s;
	transition-delay: .45s
}

.extMenu li:nth-child(5) a {
	transition-property: transform, opacity;
	-webkit-transition-delay: .50s;
	transition-delay: .50s
}

.extMenu li:nth-child(6) a {
	transition-property: transform, opacity;
	-webkit-transition-delay: .55s;
	transition-delay: .55s
}

.extMenu li:nth-child(7) a {
	transition-property: transform, opacity;
	-webkit-transition-delay: .60s;
	transition-delay: .60s
}

a#behance:hover,
#icon-behance:hover {
	color: #0056FF;
}

a#dribbble:hover,
#icon-dribbble:hover {
	color: #EC4989;
}

a#instagram:hover,
#icon-instagram:hover {
	color: #111;
}

a#unsplash:hover,
#icon-unsplash:hover {
	color: #111;
}

a#twitter:hover,
#icon-twitter:hover {
	color: #1DA0F2;
}

a#medium:hover {
	color: #33FC8D;
}

a#email:hover,
#icon-email:hover {
	color: var(--main-pop-color);
}

#icon-dribbble,
#icon-instagram,
#icon-unsplash {
	font-size: 40px !important
}

#icon-medium {
	content: url(assets/img/svg/medium.svg);
	width: 40px;
	transition: .2s
}

#icon-medium:hover {
	content: url(assets/img/svg/medium-green.svg);
	transition: .2s
}

#icon-unsplash,
#icon-twitter {
	letter-spacing: -5px
}


/* ~~~~~ Main Content Elements ~~~~~*/

.container,
.footer {
	margin: 0px 45px;
}

.hero {
	margin-right: 0px;
	margin-left: 0;
	left: 0;
	padding: 100px 0px 0px 0px;
}

#contact {
	margin-right: 0px;
	margin-left: 0;
	left: 0;
	padding: 10px 0px 10px 0px;
}

#mailto {
	text-decoration: underline;
}

.verticalMiddle {
	top: 0%;
	transform: translateY(0);
}

#designer {
	text-shadow: -3px 3px 0 var(--main-shady-color);
	color: var(--main-body-color);
}

#mdashes {
	letter-spacing: -10px;
}

#blink {
	animation: blink .3s alternate 50;
	opacity: 0;
	transition: .3s
}

.did {
	padding-right: 0px;
}

.deskImg {
	display: none;
}

.mobImg {
	display: inline;
}

.did img {
	filter: grayscal();
	-moz-filter: grayscal();
	-webkit-filter: grayscal();
	margin-bottom: 20px;
	max-width: 1400px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .25);
	transform: matrix(1, 0, 0, 1, 0, 0);
	-webkit-transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
	-moz-transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
	transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
}

.didPage img {
	box-shadow: none;
	max-width: 1324px;
	margin-top: 100px;
}

.did img:hover {
	box-shadow: 0 8px 40px 0 rgba(0, 0, 0, .25);
	transition: .2s;
	transform: matrix(1.01, 0, 0, 1.01, 0, 0);
}

.didPage img:hover {
	box-shadow: none;
	transition: .2s;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#trumpet,
#smile {
	width: 20px;
	vertical-align: middle
}

#contactSocials {
	font-size: 50px;
	margin-bottom: 15px;
}

#contactSocials a {
	font-family: 'icons';
	color: var(--main-shady-color);
	vertical-align: middle;
	transition: .2s
}

#turd,
#tr {
	width: 10px;
	height: auto;
	vertical-align: middle;
	padding-bottom: 5px
}

#heart {
	height: 8.5px;
	width: auto
}

.sign {
	width: 150px;
}

#funtime:hover #wannahavefun {
	display: none;
	opacity: 1;
	-webkit-transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
	-moz-transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
	transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
}

#banana {
	display: none;
	position: absolute;
	left: 15px;
	width: 210px;
	cursor: pointer;
	filter: grayscale();
}

#wannahavefun {
	display: none;
	position: absolute;
	opacity: 0;
	left: 15px;
	width: 210px;
	cursor: pointer;
}


/*RESPONSIVE STYLES */


/* Larger than mobile */

@media (min-width: 400px) {}


/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {
	h2.title {
		font-size: 120px;
		line-height: 11px;
		letter-spacing: -4px;
		margin-bottom: 0px
	}
	h4.subtitle {
		margin-bottom: 60px;
	}
	.deskImg {
		display: inline;
	}
	.mobImg {
		display: none;
	}
	#developer {
		color: #f0f0f0;
		background: #333;
		padding-left: 10px;
		padding-right: 15px;
	}
}


/* Larger than tablet */

@media (min-width: 750px) {
	::-webkit-scrollbar {
		width: 15px
	}
	::-webkit-scrollbar-track {
		background: white;
	}
	::-webkit-scrollbar-thumb {
		background: var(--main-pop-color)
	}
	::-webkit-scrollbar-corner {
		background: var(--main-pop-color)
	}
	.frame.right {
		display: none;
	}
	.did,
	.blogPost {
		padding-right: 165px;
	}
	#didMenu,
	#contactMenu {
		display: inline;
	}
	#atMenu,
	#shootMenu,
	#writtenMenu {
		display: none;
	}
	nav {
		position: fixed;
		padding: 50px 45px;
		left: calc(100vw - 205px);
		top: 0;
		display: block;
	}
	nav l {
		-webkit-transform: translate(0, 25px) scale(1.25, 1.25);
		-ms-transform: translate(0, 25px) scale(1.25, 1.25);
		transform: translate(0, 25px) scale(1.25, 1.25);
		opacity: 0;
		-webkit-transition: .3s ease-out;
		transition: .3s ease-out
	}
	nav l.diveIn {
		line-height: 1;
		-webkit-transform: translate(0, 0) scale(1, 1);
		-ms-transform: translate(0, 0) scale(1, 1);
		transform: translate(0, 0) scale(1, 1);
		opacity: 1;
		-webkit-transition: opacity .3s ease-out, -webkit-transform .3s ease-out;
		transition: opacity .3s ease-out, -webkit-transform .3s ease-out;
		transition: transform .3s ease-out, opacity .3s ease-out;
		transition: transform .3s ease-out, opacity .3s ease-out, -webkit-transform .3s ease-out
	}
	nav .intMenu li {
		text-align: left;
	}
	.container {
		margin: 0px 30px 0px 45px;
	}
	.hero,
	#contact {
		margin-right: 190px;
		margin-left: 0;
		left: 0;
	}
	.footer {
		padding: 46px 45px 110px 45px;
		margin: 34px 0px 0px 0px;
	}
}

@media (min-width: 750px) and (min-height: 525px) {
	.extMenu {
		display: block;
		position: fixed;
		bottom: 40px;
	}
	#contactSocials {
		display: none;
	}
}


/* Larger than desktop */

@media (min-width: 1000px) {}


/* Larger than Desktop HD */

@media (min-width: 1200px) {
	.section {
		height: 100vh;
		margin-left: auto;
		margin-right: auto;
	}
	.hero,
	#contact {
		margin-right: auto;
		margin-left: auto;
		max-width: 810px;
		padding: 100px 0px 0px 0px;
	}
	.did {
		margin-top: -15vh;
		padding: 0px 203px;
		max-width: 1400px;
		margin-left: auto;
		margin-right: auto;
	}
	.didBody .did {
		max-width: 1324px;
	}
	#did img {
		margin-bottom: 35px;
	}
	.didPage img {
		margin-top: 200px;
	}
	.verticalMiddle {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.blogPost {
		padding-left: 0px;
	}
	#contact {
		padding-bottom: 100px;
		padding-top: 55px;
	}
}


/* icon-styles */

@font-face {
	font-family: "icons";
	src: url("assets/font/icons.eot");
	src: url("assets/font/icons.eot?#iefix") format("embedded-opentype"), url("assets/font/icons.woff") format("woff"), url("assets/font/icons.ttf") format("truetype"), url("assets/font/icons.svg#icons") format("svg");
	font-weight: normal;
	font-style: normal
}

[data-icon]:before {
	font-family: "icons" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "icons" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

#icon-twitter:before {
	content: '\e800';
}

#icon-instagram:before {
	content: '\e801';
}

#icon-efeck:before {
	content: '\e802';
}

#icon-behance:before {
	content: '\e803';
}

#icon-dribbble:before {
	content: '\e804';
}

#icon-unsplash:before {
	content: '\e805';
}


/* ~~~~~ Animations ~~~~~*/

@keyframes blink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes pop-upwards {
	0% {
		transform: matrix(.97, 0, 0, 1, 0, 12);
		opacity: 0
	}
	20% {
		transform: matrix(.99, 0, 0, 1, 0, 2);
		opacity: .7
	}
	40% {
		transform: matrix(1, 0, 0, 1, 0, -1);
		opacity: 1
	}
	70% {
		transform: matrix(1, 0, 0, 1, 0, 0);
		opacity: 1
	}
	100% {
		transform: matrix(1, 0, 0, 1, 0, 0);
		opacity: 1
	}
}

@keyframes pop-downwards {
	0% {
		transform: matrix(.97, 0, 0, 1, 0, -12);
		opacity: 0
	}
	20% {
		transform: matrix(.99, 0, 0, 1, 0, -2);
		opacity: .7
	}
	40% {
		transform: matrix(1, 0, 0, 1, 0, 1);
		opacity: 1
	}
	70% {
		transform: matrix(1, 0, 0, 1, 0, 0);
		opacity: 1
	}
	100% {
		transform: matrix(1, 0, 0, 1, 0, 0);
		opacity: 1
	}
}

@keyframes shift-rightwards {
	0% {
		transform: translateX(-100%)
	}
	40% {
		transform: translateX(0)
	}
	60% {
		transform: translateX(0)
	}
	100% {
		transform: translateX(100%)
	}
}

@keyframes shimmy-shake {
	0% {
		transform: translateX(-1%)
	}
	20% {
		transform: translateX(1%)
	}
	40% {
		transform: translateX(-1%)
	}
	60% {
		transform: translateX(1%)
	}
	80% {
		transform: translateX(-1%)
	}
	100% {
		transform: translateX(0)
	}
}

@keyframes fade-in-pulse-06 {
	0% {
		opacity: 0;
		transform: scale(.6)
	}
	50% {
		opacity: 1
	}
	100%,
	70% {
		transform: scale(1)
	}
}

@keyframes fade-in-pulse-08 {
	0% {
		opacity: 0;
		transform: scale(.8)
	}
	50% {
		opacity: 1
	}
	100%,
	70% {
		transform: scale(1)
	}
}

@keyframes black-pulse-09 {
	0% {
		transform: scale(1);
		fill: #000
	}
	15% {
		transform: scale(.9)
	}
	100% {
		transform: scale(1);
		fill: #000
	}
}

@keyframes scale-fade-out {
	0% {
		transform: scale(0);
		opacity: 1;
		visibility: visible
	}
	50% {
		transform: scale(1)
	}
	99% {
		opacity: 0
	}
	100% {
		visibility: hidden
	}
}

@keyframes fade-in {
	0% {
		visibility: hidden
	}
	1% {
		visibility: visible;
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
		visibility: visible
	}
	99% {
		opacity: 0
	}
	100% {
		visibility: hidden
	}
}

@keyframes fade-step-in-50 {
	0% {
		opacity: 0
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@keyframes scale-out-delayed {
	0% {
		transform: scale(1);
		opacity: 1;
		max-height: 800px
	}
	40% {
		transform: scale(.99);
		opacity: 0
	}
	100% {
		transform: scale(0);
		opacity: 0;
		max-height: 0
	}
}